@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
}

:root {
    --accent: #9BE5AA;

    --light: rgb(255, 255, 255);
    
    --white-10: rgba(255, 255, 255, 0.1);
    --white-30: rgba(255, 255, 255, 0.3);

    --black-10: rgba(0, 0, 0, 0.1);
    --black-30: rgba(0, 0, 0, 0.3);
}


/*
    Typography
*/

h1 {
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    font-size: 8rem;
}

h1 em {
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}

h1 strong {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    font-size: 4rem;
}

h2 strong {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    font-size: 1.8rem;
}

h4 {
    font-family: sofia-pro, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-variant: small-caps;
}

a {
    text-decoration: none;
}

p {
    font-family: sofia-pro, sans-serif;
    font-style: normal;

    font-size: 1.2rem;
}


/***
 *       __ _           
 *      / _| |          
 *     | |_| | _____  __
 *     |  _| |/ _ \ \/ /
 *     | | | |  __/>  < 
 *     |_| |_|\___/_/\_\                  
 */


#wrapper {
    animation-name: fadeIn;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}

#hero_wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 50em;

    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

#hero_wrapper.home {
    background-image: url(../img/blob-scene-haikei.svg);
}

#hero_wrapper.about {
    background-image: url(../img/layered-waves-haikei.svg);
}

#hero_body {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5em;
}

#card_wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;

    align-content: flex-start;
    justify-content: center;

    height: fit-content;
    width: 100%;
}

#card {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    padding: 1em;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255, 0);
    filter: saturate(50%);

    text-shadow: 0px 0px rgba(0, 0, 0, 0);

    min-height: 300px;
    min-width: 200px;

    transition: 0.35s;
}

#card:hover {
    color: rgb(255, 255, 255, 1);
    filter: saturate(100%);

    text-shadow: 0px 0px 4px #000;
}



/***
 *     /$$      /$$           /$$          
 *    | $$$    /$$$          |__/          
 *    | $$$$  /$$$$  /$$$$$$  /$$ /$$$$$$$ 
 *    | $$ $$/$$ $$ |____  $$| $$| $$__  $$
 *    | $$  $$$| $$  /$$$$$$$| $$| $$  \ $$
 *    | $$\  $ | $$ /$$__  $$| $$| $$  | $$
 *    | $$ \/  | $$|  $$$$$$$| $$| $$  | $$
 *    |__/     |__/ \_______/|__/|__/  |__/                                      
 */

html, body {
    background-color: var(--light);
    overflow: overlay;

    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;

    color: black;
    background-color: var(--white-30);
    border: 1px solid var(--black-10);
    backdrop-filter: blur(10px);

    width: 100%;
    padding: 1em;
    position: fixed;

    z-index: 99999;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--black-30);
    transition: 0.35s;
}

.nav-icon:hover {
    color: var(--accent);
    opacity: 0.75;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    font-family: sofia-pro;
    font-weight: 700;
    font-size: 1.2rem;

    width: 100%;
}

.nav-logo img {
    height: 1.5em;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5em;

    background-color: rgba(99, 105, 251, 0.02);
    color: white;

    padding: 2.5em 5em 2.5em 5em;
}

footer h1 {
    font-size: 1rem;
}

footer p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

/*
    Input
*/

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 1rem;
    padding-top: 1rem;
    width: fit-content;
}

.button.normal {
    color: black;
    border-bottom: 2px solid black;
}

.button.normal:hover {
    opacity: 0.6;
}

.button.normal:active {
    opacity: 0.8;
}

.button.contrast {
    color: white;
    background-color: black;
    padding: 1rem;
    border: 2px solid var(--accent);
    transition: 0.35s;
}

.button.contrast:hover {
    background-color: var(--accent);
}

.icon {
    display: block;
    width: 75px;
    height: 100%;

    opacity: 0.3;
    transition: 0.35s;
}

.icon:hover {
    opacity: 0.6;
}

/*
    Typography


h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}

h1 strong {
    font-size: 5rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;

    font-variant: small-caps;
    text-transform: lowercase;
}

h2 strong {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 10px;
}

p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255, 0.75);
}
*/


/***
 *     /$$$$$$$                                          /$$       /$$          
 *    | $$__  $$                                        | $$      | $$          
 *    | $$  \ $$  /$$$$$$  /$$   /$$  /$$$$$$$  /$$$$$$ | $$$$$$$ | $$  /$$$$$$ 
 *    | $$$$$$$/ /$$__  $$| $$  | $$ /$$_____/ |____  $$| $$__  $$| $$ /$$__  $$
 *    | $$__  $$| $$$$$$$$| $$  | $$|  $$$$$$   /$$$$$$$| $$  \ $$| $$| $$$$$$$$
 *    | $$  \ $$| $$_____/| $$  | $$ \____  $$ /$$__  $$| $$  | $$| $$| $$_____/
 *    | $$  | $$|  $$$$$$$|  $$$$$$/ /$$$$$$$/|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$
 *    |__/  |__/ \_______/ \______/ |_______/  \_______/|_______/ |__/ \_______/                                                                          
 */

.content {
    display: flex;
    padding: 0 20vw 0 20vw;
}

.content_item {
    padding-top: 5em;
    padding-bottom: 5em;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1em;

    width: 100%;
}

.gap_section {
    gap: 5em;
}

.background_one {
    background-color: rgb(155, 229, 170, 0.075);
}

.background_two {
    background-color: rgba(155, 229, 170,  0.125);
}

.background_gradient {
    background-image: linear-gradient(180deg, #9BE5AA 0%, #fff 100%);
}

.background_black {
    background-color: black;
    color: white;
}

.background_image {
    background-position: -10% 50%;
    background-repeat: no-repeat;
}

.center {
    align-items: center;
    justify-content: center;
}

.center_x{
    justify-content: center;
    text-align: center;
}

.center_y {
    align-items: center;
}

.height_100 {
    height: 100%;
}

.width_100 {
    width: 100%;
}

.clip {
    overflow: hidden;
}

.sticky {
    height: fit-content;
    position: sticky;
    top: 0;
}

.invert {
    backdrop-filter: invert(100%);
}

.topic {
    height: 260px;
    width: 260px;

    display: flex;

    font-family: ivypresto-display, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    color: black;

    justify-content: center;
    align-items: center;

    border-radius: 1000px;
    background-color: rgba(0, 255, 0, 0.1);
}

/*
    Animations
*/

@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    transition: 0.35s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}