@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
}

:root {

}

html, body {
    background-color: black;

    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-around;*/

    color: white;
    background-color: rgba(0, 0, 0, 0.1);

    width: 100%;
    height: 70px;
    position: fixed;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.35s;
}

nav a:hover {
    color: rgba(255, 255, 255, 1.0);
}

footer {
    display: flex;
    flex-direction: row;

    background-color: rgba(255, 255, 255, 0.075);
    color: white;

    padding: 2em 5em 2em 5em;
}

/*
    Good
*/
#wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#hero_wrapper {
    animation-name: fadeIn;
    animation-duration: 2s;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: url(../img/Background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#hero_body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2em;

    padding: 5em;
}

/*
    Input
*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;

    padding: 1rem;
    width: fit-content;
}

.button.normal {
    color: white;
    border: 2px solid white;
}

.button.normal:hover {
    opacity: 0.6;
}

.button.normal:active {
    opacity: 0.8;
}

/*
    Typography
*/

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);

    font-variant: small-caps;
    letter-spacing: 10px;
}

/*
    Animations
*/

@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
  }