@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
}

:root {

}

html, body {
    background-color: black;
    overflow: overlay;

    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-around;*/

    color: white;
    background-color: rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 70px;
    position: fixed;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.35s;
}

nav a:hover {
    color: rgba(255, 255, 255, 1.0);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5em;

    background-color: rgba(99, 105, 251, 0.02);
    color: white;

    padding: 2.5em 5em 2.5em 5em;
}

footer h1 {
    font-size: 1rem;
}

footer p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

/*
    Good
*/

#wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}

#hero_wrapper {
    animation-name: fadeIn;
    animation-duration: 2s;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: url(../img/test.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

#hero_body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2em;

    padding: 5em;
}

/*
    Input
*/

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;

    padding: 1rem;
    width: fit-content;
}

.button.normal {
    color: white;
    border: 2px solid white;
}

.button.normal:hover {
    opacity: 0.6;
}

.button.normal:active {
    opacity: 0.8;
}

/*
    Typography
*/

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

h1 strong {
    font-size: 5rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;

    font-variant: small-caps;
}

h2 strong {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 10px;
}

p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255, 0.75);
}

/*
    General classes
*/

.content {
    display: flex;
    background-color: rgba(99, 105, 251, 0.05);
    padding: 5em;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1em;

    width: 100%;
}

.gap_section {
    gap: 5em;
}

.center {
    align-items: center;
    justify-content: center;
}

.icon {
    display: block;
    width: 75px;
    height: 100%;

    opacity: 0.3;
}

/*
    Animations
*/

@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 14px;
    transition: 0.35s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.3);
}